<!-- Start navigation -->
<div class="header-wrapper">
  <nav class="navbar navbar-ct-neutral" role="navigation-demo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Cocoon", root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navigation-example-2">
        <ul class="nav navbar-nav navbar-right">
              <%= link_to "Pricing", pages_login_path, class: "btn btn-simple btn-neutral hidden-xs" %>
              <%= link_to "Login", pages_login_path, class: "btn btn-simple btn-neutral hidden-xs" %>
              </a>
              <%= link_to "Free 14 day trial", pages_register_path, class: "btn btn-neutral hidden-xs" %>
            <li>
              <%= link_to "Login", pages_login_path, class: "btn btn-neutral visible-xs" %>
            </li>
            <li>
              <%= link_to "Free 14 day trial", pages_register_path, class: "btn btn-neutral visible-xs" %>
            </li>
            <li>
            <%= link_to "Error states", pages_error_path, class: "btn btn-simple btn-neutral visible-xs" %></li>
            <li>
        <%= link_to "Products", pages_products_path, class: "btn btn-simple btn-neutral visible-xs" %>
        </li>
         </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
  </nav>
      <div class="header" style="background-image: url('assets/bread.jpg');
">
          <div class="filter filter-default"></div>
          <div class="container text-center">
                  <h2 class="cheese">Manage Your Bakery The Easy Way<h2>
                  <h3>Without confusing excel spreadsheets and without breaking the bank!</h3>
                  <br>
                  
                  <%= link_to "Free 14 day trial", pages_register_path, class: "btn btn-neutral btn-lg btn-fill" %>
                  
          </div>
      </div>
</div>
<!-- end navigation -->
<div class="wrapper">
  <div class="section-white">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
              <br>
                  <div class="tim-title">
                    <h3 class="text-center heading">Introducing Cocoon</h3>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-2 hidden-sm hidden-xs">
              <img src="assets/duncan.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
            </div>
            <div class="col-md-6">
              <blockquote>
                <p class="landing">
                  "I wanted software that would let me keep on top of my bakery. Something more robust than excel spreadsheets that me my staff could use to manage orders, deliveries and production schedules. Cocoon has solved so many headaches - I can now spend more time actually growing my bakery."
                </p>
               <small><b>
                Duncan Glendinning, The Thoughtful Bread Company</b>
               </small>
              </blockquote>
              <br>
            </div>
          </div>
        </div>
      </div>


      <div class="section section-white-grey">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1">
                  <div class="tim-title">
                    <h3 class="text-center heading">See how it works in 2 minutes</h3>
                  </div>
              </div>
              <div class="col-md-8 col-md-offset-2">
                    <p class="landing">
                  I’ll go over everything this software does, and how it does it in just a second. But first, look how easy it is to get started with Cocoon.
                </p>
                <br>
              </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <img src="assets/image_placeholder.jpg" alt="Rounded Image" class="img-rounded img-responsive">
            </div>
          </div>
          <br>
          <br>
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                    <p class="landing">
                  Before Cocoon, managing your bakery would require you to create a system of confusing spreadsheets to try and keep on top of everything.</p>

<p class="landing">You'd have sheets for <b>tracking customer orders, recipes, baking schedules, deliveries and more</b>. </p> <p class="landing">And when these spreadsheets were finally, painstakingly created, there'd always be the worry that <b>something would go wrong</b> - or that you'd muck up a customer's order!</p>

<p class="landing">... Not to mention the difficulty of trying to get new staff to understand how use your everything correctly.</p>

<p class="landing">But now, as you can see, with Cocoon you can set everything up, invite your staff and start managing your bakery seamlessly <b>in less than 5 minutes.</b> </p><p class="landing">Even I’m amazed by it, and I helped build it.</p>

                </p>
                <br>
                </div>
              </div>
        </div>
      </div>


      <div class="section-white">
      <div class="container">
          <div class="row">
          <br>
              <div class="col-md-8 col-md-offset-2">
                  <div class="tim-title">
                  <br>
                    <h3 class="text-center heading">Here's what Cocoon can do for you</h3>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4 col-md-offset-2">
                 <div class="info">
                      <div class="icon icon-danger">
                          <i class="ti-pencil"></i>
                      </div>
                      <div class="description">
                          <h4>Manage your orders</h4>
                          <p class="landing">Whether you've got <b>recurring or one-off orders to track</b>, we've got you covered. Setup and manage your orders in just a couple of simple clicks.</p>
                      </div>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="info">
                      <div class="icon icon-danger">
                          <i class="ti-calendar"></i>
                      </div>
                      <div class="description">
                          <h4>Create production schedules</h4>
                          <p class="landing">Cocoon automatically creates production schedules for your bakers, ready to print. <b>Save time and minimise errors.</b></p>
                      </div>
                 </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-offset-2">
                 <div class="info">
                      <div class="icon icon-danger">
                          <i class="ti-book"></i>
                      </div>
                      <div class="description">
                          <h4>Scale your recipes</h4>
                          <p class="landing">No more <b>hours spent with calculators</b> at the start of each shift. Cocoon will instantly scale your recipes, based on the orders for the day.</p>
                      </div>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="info">
                      <div class="icon icon-danger">
                          <i class="ti-truck"></i>
                      </div>
                      <div class="description">
                          <h4>Track your deliveries</h4>
                          <p class="landing">One easy dashboard, laying out your deliveries and packing schedule for the day. <b>Keep your delivery drivers in sync</b> and up to speed with your production team.</p>
                      </div>
                 </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-offset-2">
                 <div class="info">
                      <div class="icon icon-danger">
                          <i class="ti-face-smile"></i>
                      </div>
                      <div class="description">
                          <h4>Manage your team</h4>
                          <p class="landing">Invite all your team so they have access to the same information. Share notes and messages at the start of each shift. <b>Keep everybody accountable.</b></p>
                      </div>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="info">
                      <div class="icon icon-danger">
                          <i class="ti-stats-up"></i>
                      </div>
                      <div class="description">
                          <h4>Produce analytics & reports</h4>
                          <p class="landing">See your top selling products, your best customers and your underlying trends in <b>easy to read graphs.</b></p>
                      </div>
                 </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-offset-2">
                 <div class="info">
                      <div class="icon icon-danger">
                          <i class="ti-server"></i>
                      </div>
                      <div class="description">
                          <h4>Integrate with your favourite accountancy package</h4>
                          <p class="landing">We'll leave crunching the numbers to the experts. Quickly <b>export all your data</b> for use in your preferred acountancy package.</p>
                      </div>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="info">
                      <div class="icon icon-danger">
                          <i class="ti-comment-alt"></i>
                      </div>
                      <div class="description">
                          <h4>Gain access to your bakery from anywhere, 100% securely</h4>
                          <p class="landing">Cocoon is built with the latest technologies so it's <b>fast, 100% secure and easy to use.</b> Manage your bakery from anywhere and on any device</b>.</p>
                      </div>
                 </div>
              </div>
            </div>
            </div>
          </div>


  <div class="section section-white-grey">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1">
                  <div class="tim-title">
                    <h3 class="text-center heading">Need help getting started?</h3>
                  </div>
              </div>
              <div class="col-md-8 col-md-offset-2">
                    <p class="landing">
                  Setting up new software can sometimes feel <b>daunting or time consuming</b> -  we're confident you'll find it a breeze with Cocoon, but we're still here to help.
                </p>
                <p class="landing">
                  <b>Ongoing support and training comes as standard</b> for any Cocoon customer, so you'll always feel looked after and in good hands.
                </p>
                <p class="landing">
                  Register below for a <b>free, no strings attached 14 day trial</b> and one of our team will be in contact to make sure you're settling in ok.
                </p>
                <br>
              </div>
          </div>
          <br>
          <br>
              </div>
            </div>
          </div>
        </div>




            
  <br>
  <div class="section section-brown">
      <div class="container">
          <div class="row">          
            <div class="text-center">
            <div class="col-md-10 col-md-offset-1">
                  <div class="tim-title">
                    <h3 class="text-center heading">Now here's the great news</h3>
                  </div>
              </div>
              <div class="col-md-8 col-md-offset-2">
                    <p class="landing">
                  Cocoon is completely free for 14 days. No string attached and no credit card required.
                </p>
                <br>
              
              <%= link_to "Free 14 day trial", pages_register_path, class: "btn btn-default btn-lg btn-fill" %>
              <br>
              <br>
              <br>
              <br>
            </div>
        </div>
      </div>
</div>
</div>
<footer class="footer-demo section-white">
        <div class="container">
            <nav class="pull-left">
                <ul>
    
                    <li>
                        <a href="#">
                            Pricing
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contact us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                © 2016, made with <i class="fa fa-heart heart"></i> by Cocoon
            </div>
        </div>
    </footer>

<!-- login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-medium modal-register">
    <div class="modal-content">
      <div class="modal-header no-border-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 class="text-muted">Welcome</h6>
        <h3 class="modal-title">Cocoon</h3>
        <p>Log in to your account</p>
      </div>
      <div class="modal-body">
            <div class="form-group">
                <label>Email</label>
            <input type="text" value="" placeholder="Email" class="form-control border-input" />
          </div>
           <div class="form-group">
                <label>Password</label>
            <input type="password" value="" placeholder="Password" class="form-control border-input" />
          </div>
            <button class="btn btn-fill btn-block btn-default"> Log in</button>
      </div>
      <div class="modal-footer no-border-footer">
            <span class="text-muted">Looking <a href="#">create an account</a> ?</span>
      </div>
    </div>
  </div>
</div>
<!-- end login modal -->