<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>

    <title>Cocoon Bakery</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'paper_kit_pro/favicon.ico', rel: 'icon', type: 'image/ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Montserrat' %>
    <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,300,600,800' %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= yield :head %>
  </head>
  <body class="<%= yield :class %>" data-features="<%= yield :features %>">
    <%= yield %>
  </body>
</html>
